.contaner_custom {
  margin: 0 120px;
}
.bg-dark-true {
  background-color: black;
}
.heroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.productsection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timeLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.timeLeft-item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}